*{
    padding: 0 auto;
    margin: 0 auto;
}

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;
}
#body{
    background-color:hex #d49e23;
}
#cabecera{
    height: 15%;
    background-color: rgb(230, 200, 149);
    margin: 1em auto;
    padding-top: 20px;

}

#menu{
    height: 5%;
    background-color: #713505;
    margin: 1em auto;
    padding-top: 15px;
}

#pie {
    height: 5%;
    width: 58.3%;
    background-color:  #744607;
    margin-top: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#seccion{
    height: 72.5%;
    width: 60%;
    background-color: #b01a1c;
    margin: 0.5em;
    float: left;
}

#seccionborde{
    height: 71.5%;
    width: 36%;
    background-color: #dcc43c;
    margin: 0.5em;
    float: right;
    padding-top: 10px;
}

.encabezado{
    text-align: center;
    background-color: #d9bd1f;
    color: white;
    margin: auto 2em;
    margin-top: 20px;
}

.texto {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;
}

img {

    display: inline;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 5px;

}

ul.m{
    text-align: center;
}

li.m {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

h1 {
    text-align: center;
    margin: 20px;

}

h3 {
    padding: 20px;
}